/* Navigation Menu */
nav {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #4b5e39;
  height: 100%;
  width: 200px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0;
  padding: 10px 0;
  text-align: center;
}

nav li:first-child {
  margin-top: 200px;
}

nav a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
  transition: background-color 0.5s;
  font-family: 'Poppins', sans-serif;
}

nav a:hover {
  background-color: white;
  color: #4b5e39;
}

.profilePictureCircle {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #fff;
}

.profilePicture {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: block;
  margin: 0 auto;
  transform: scale(2) translateY(10%);
}

/* Main */
main {
  margin-left: 200px;
  margin-top: 52px;
  padding: 50px;
}

a {
  color: #1ca7f0;
}

a:hover {
  color: #7bff00;
}

/* Sections */
section {
  padding-top: 50px;
}

.title {
  text-align: left;
  font-size: 4rem;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
}

.subTitle {
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
}

section p {
  text-align: left;
  line-height: 1.5;
  max-width: 800px; 
  font-family: 'Raleway', sans-serif;
}

.xayasak {
  color: #7bff00;
}

.mobileSizeCommonInfo {
  display: none;
}

/* Social Buttons in About Section */
.social-buttons {
  display: flex;
  justify-content: justify;
  margin-top: 50px;
}

.social-buttons a {
  display: flex;
  justify-content: justify;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #575756;
  font-size: 2rem;
  text-decoration: none;
  transition: background-color 0.5s;
  margin-right: 20px;
}

.social-buttons a:hover {
  background-color: #7bff00;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 2rem;
  text-decoration: none;
  transition: background-color 0.5s;
  margin-right: 20px;
}

/* Experience Section */
.view-projects-button {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease;
  font-family: 'Raleway', sans-serif;
}

.view-projects-button:hover {
  background-color: #000;
  color: #fff;
}

.chickfilaImage {
  width: 100px;
  height: auto; 
}

.UC_Davis_Logo {
  width: 400px;
  height: auto; 
}

.AggieLogo {
  width: 200px;
  height: auto; 
}

.date {
  margin-left: 50px;
  color: #5781ae;
  font-size: 17px;
  font-weight: normal;
}

.coursework {
  margin-left: 500px;
}

.leftcoursework, .rightcoursework {
  display: inline-block;
  vertical-align: top;
  margin-left: 150px
}

/* Projects Section */
#projects {
  padding: 20px;
}

.project {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap; /* This allows wrapping on smaller screens */
}

.MichelinGif, .WatershedGif {
  width: 100%;
  max-width: 400px;
  height: auto; 
  margin-right: 20px;
}

.NPS {
  width: 100%;
  max-width: 900px;
  height: auto; 
  margin-right: 20px;
}

.project-description {
  max-width: 500px;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .project {
    flex-direction: column; /* Stacks the image and description vertically */
    align-items: flex-start;
  }

  .MichelinGif, .NPS, .WatershedGif {
    margin-right: 0; /* Removes the margin when stacked */
    margin-bottom: 15px; /* Adds spacing between image and paragraph */
    width: 100%; /* Full width on small screens */
  }

  .project-description {
    max-width: 100%; /* Allows the text to span the full width */
  }
}


/* Contact Section */
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  margin-left: 0px;
}

form label {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #333;
  margin-top: 15px;
}

form input[type="text"], form textarea {
  width: 90%;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 5px;
}

form textarea {
  resize: vertical;
  min-height: 150px;
}

form input[type="submit"] {
  width: auto;
  background-color: #4b5e39;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 15px;
}

form input[type="submit"]:hover {
  background-color: #7bff00;
  transition: background-color 0.3s;
}

.menuName {
  display: none;
}

/* When it touches coursework */
@media screen and (max-width: 1467px) {
  .coursework {
    margin-left: 400px;
  }

  .leftcoursework, .rightcoursework {
    display: inline-block;
    vertical-align: top;
    margin-left: 50px
  }
}

/* When it touches coursework again */
@media screen and (max-width: 1267px) {
  .coursework {
    margin-left: 100px;
  }
}

/* When it touches commonInfo */
@media screen and (max-width: 1215px) {
  .commonInfo {
    display: none;
  }

  .mobileSizeCommonInfo {
    display: block; 
  }
}

/* When it touches Chick Fil A date */
@media screen and (max-width: 1060px) {
  .date {
    margin-left: 0;
    display: block;
  }
}

/* Makes nav dissapear and move everything left */
@media screen and (max-width: 973px) {
  nav {
    display: none;
  }

  main {
    margin-left: 0px;
    margin-top: 50px;
    padding: 50px;
  }

  .menuBar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #4b5e39;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menuName a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
  }

  .menuName a:hover {
    background-color: white;
    color: #4b5e39;
  }

  .menuName {
    display: block;
    color: white;
    margin-left: 15px;
  }

  .menuBar ul {
    list-style: none;
    display: flex;
  }

  .menuBar ul li {
    padding: 10px 30px;
    position: relative;
  }
  
  .menuBar ul li a {
    color: white;
    text-decoration: none;
    transition: all 0.5s;
    font-family: 'Raleway', sans-serif;
    display: block;
  }
  
  .menuBar ul li:hover {
    background-color: white;
  }
  
  .menuBar > ul > li:hover > a {
    color: #4b5e39;
  }
  
  .dropDownNav {
    display: none;
    width: 200px;
  }
  
  .menuBar ul li:hover .dropDownNav {
    display: block;
    position: absolute;
    right: 0;
    left: auto;
    top: 100%;
    background-color: #4b5e39;
    text-align: center;
  }
  
  .menuBar ul li:hover .dropDownNav ul {
    display: block;
    margin-left: -40px;
  }
  
  .menuBar ul li:hover .dropDownNav ul li {
    padding: 10px 20px;
  }
  
  .menuBar ul li .dropDownNav ul li:hover a {
    color: #4b5e39;
  }
}

/* When touches coursework again after nav dissapearance */
@media screen and (max-width: 647px) {
  .coursework {
    margin-left: 130px;
  }
  
  .leftcoursework {
    display: inline-block;
    vertical-align: top;
    margin-left: 0px;
  }

  .rightcoursework {
    display: block;
    margin-left: 0px;
  }
}

/* When it touches UC Davis logo */
@media screen and (max-width: 750px) {
  .UC_Davis_Logo {
    width: 200px;
    height: auto; 
  }
  
  .AggieLogo {
    width: 100px;
    height: auto; 
  }
}